body {
    font-family: 'Arial', sans-serif;
    background-color: #111;
    margin: 0;
    padding: 0;
    font-family: game_ui_font, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@font-face {
    font-family: 'game_ui_font';  /* 원하는 폰트 이름 지정 */
    src: url('../../game_fonts/game_ui_text.ttf') format('truetype');  /* 폰트 파일 경로 지정 */
}


.text-ui {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
